.player-card {
    font-size: 0.8em;
    max-width: 12em;
    max-height: 2.5em;
    margin: 1.4em;
    margin-right: 0.3em;
  }
  
  .player-header-image {
    width: 3em;
    height: 3em;
    background-image: url('https://lh3.googleusercontent.com/proxy/7HV4SeMGlta_yvYd_sB1oRx8aGv_uux3ntGHVvFnL1Ue-LmwQFxDb77jXug9UihksefaMhG7mdB-YgMgU0DIKhM70Ukowk53f8Wo6fgOEf7CTyd5QRC97Qwx4SzxA7G7WZwialZpT7yl33ib');
    background-size: cover;
  }